name: Update data

on:
  schedule:
  - cron: "0 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        dir
        python -m pip install --upgrade pip
        pip install -e .
        python update_data.py
        dir
      
    - uses: stefanzweifel/git-auto-commit-action@v4
